.navbar {
  background-color: #18181a;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  position: sticky;
  top: 0;
  left: 0;

  @media (min-width: 1440px) {
    .navbar {
      padding: 0 200px;
    }
  }
  .navbar__logo {
    width: 95px;
    height: 20px;
    cursor: pointer;
  }
  .navbar__routes-container {
    display: flex;
    .navbar__link {
      text-decoration: none;
      color: #b4b4be;
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: 700;
      margin: 0 15px;
    }
    .active {
      text-decoration: none;
      color: white;
    }
  }
  .icon {
    margin: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .navbar__divider {
    width: 1px;
    height: 20px;
    background-color: #7c8089;
    margin-left: 25px;
  }
  .navbar__searchbox {
    margin-left: auto;
  }
  .navbar__icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .navbar__notification {
      height: 30px;
      padding: 5px;
    }
    .navbar__avatar {
      height: 25px;
      width: 25px;
    }
    .navbar__apps {
      height: 30px;
      padding: 5px;
    }
  }
}
